// aqua colors (main color palette)
:root {
    --aqua-water-10: #32dacf;
    --aqua-water-20: #03c0c1;
    --aqua-water-30: #009c9d;
    --aqua-water-40: #106967;
    --aqua-water-50: #163235;
    --aqua-water-60: #001d20;
    --aqua-water-62: #001d20d7;

    --ocean-10: #32bfda;
    --ocean-12: #32bedacc;
    --ocean-15: #32beda84;
    --ocean-20: #0aa3c2;
    --ocean-30: #1192ac;
    --ocean-40: #11768a;
    --ocean-50: #0a5261;
    --ocean-60: #083b45;

    --aqua-sand: #efca7c;
    
    --aqua-stone: #627a76;
    
    --aqua-algae-10: #4fbc9c;
    --aqua-algae-15: #4fbc9bd7;
    --aqua-algae-20: #4fbc84;
    --aqua-algae-35: #1389666c;

    --algae-10: #afdcb8;
    --algae-20: #79bda1;
    --algae-30: #5ca88c;
    --algae-40: #30664f;
    --algae-50: #1a332d;

}
